<!DOCTYPE html>
<html>
  <head>
    <title>TMWSD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <table class="table">
      <tr>
        <td scope="col"><h1><a href="/" class="logo">TMWSD.</a></h1></td>
        <td id="second-td" scope="col"><h5 class="text-muted">This Message Will Self-Destruct.</h5></td>
      </tr>
    </table>


    <div id="body-content">
      <%= yield %>
    </div>

  </body>
</html>


